/*
https://colorhunt.co/palette/3a10784e31aa2f58cd3795bd
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid black;

}
body{
    font-family: 'Barlow', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.nav_main {
    font-family: 'Oswald', sans-serif; 
    /* background: linear-gradient(to right, grey, rgb(41, 41, 41)); */
    background-color: #2F58CD;
    padding-right: 10px;
    display: flex;
    font-size:0.6cm;
    width: 1920px;
    height: 160px;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

#Logo {
    width: 90px;
}

#title{
    margin-left: 8px;
}

#buscar{
    height: 35px;
    width: 400px;
    padding: 20px;
    margin: 2rem;
}

.div_logo_titulo, .ul_nav, .ul_nav_2, .navegador, .div_logo_tienda{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.navegador{
    display: flex;
    margin: 2rem;
    margin-left: 100px;
    margin: auto;
}

.div_logo_titulo{
    margin: 2rem 2rem 2rem 1rem    ;
}

.div_logo_tienda{
    display: flex;
    margin: 2rem;
}


.ul_nav_2{
    list-style-type: none;
    margin: 2rem    ;
}

.ul_nav{
    list-style-type: none;
    margin: 2rem    ;
    
}

.li_nav{
    margin: 2rem;
    
}

#img_principal{
    width: 1920px;
    height: 400px;
}

#Tienda{
    width: 50px;
    margin-left: 10px;
    margin-right: 10px;
}
/* .divstyle {
    display: flex;
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    margin: .5rem 3rem .5rem 3rem;
    padding: .5rem  ;
    text-align: center;
    max-width: 200px;
} */

/* .Racing{
    background-color: aqua;
}

.Independiente{
    background: linear-gradient(to right, red, white);
}

.River{
    background-color: #FFFFFF;
}

.Boca{
    background-color: #0000FF;
}

.SanLorenzo{
    background-color: violet;
} */

